/* COMMON */
body{
    font-family: Arial, sans-serif;
}

/* list */
ul{
    list-style-type: none;
}

/* Images */
img{
    width: 100%;
}

/* Cards */
.card {
    border: none;
}

/* Titel and text */
h1{
    font-size: 40px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 35px;
}

h4{
    font-weight: bold;
}

/* Symbols */
.trademark{
    font-size: 16px;
    vertical-align: super;
}

/* color */
.ms_gray{
    color: #767676;
}

/* Button */
.ms_btn{
    color:white;
    border-radius: 50px;
    font-weight: 600;
}

.ms_red_btn{
     background-color: #cd3d0f;
}
 
 
/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header ul{
    margin: 0;
    padding: 0;
}

/* Header top */
.header-top{
    background-color: black;
}

.sony-logo{
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.sony-logo img{
    width: 100px;
}

/* Nav */
/* Nav logo */
nav {
    padding-top: 15px;
}

@media (min-width: 992px) { 
    nav {
        padding: 0;
    }
}

.nav-logo img{
    width: 80px;
}

/* Burger */
.burger{
    font-size: 35px;
    text-align: right;
}

.burger a{
    display: inline-block;
    color: #afafaf;
    border: 1px solid #afafaf;
    padding: 0 25px;
    border-radius: 5px;
}

/* Menu container*/
.menu-container{
    font-size: 16px;
    font-weight: 600;
}

/* Menu left */
.menu-left img,
.menu-right img{
    width: 10px;
    margin-left: 3px;
}

.menu-left li,
.menu-right li{
    display: inline-block;
    margin-left: 10px;
}

.menu-left a,
.menu-right a{
    display: inline-block;
    color: inherit;
    text-decoration: none;

}

#white{
    color: white;
}

.menu-right .lens{
    width: 25px;
}

/* Menu right */
.menu-right{
    text-align: right;
}

/* MAIN */
main{
    margin-top: 130px;
}

section {
    padding: 50px 0;
}

.textarea p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

/* Jumbotron */
.jumbotron{
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.jumbotron img{
    width: 50%;
}

.jumbotron-content{
    width: 100%;
}

.jumbotron p{
    margin: 30px 0;
}

@media (min-width: 992px) { 
    .jumbotron-content {
        width: 40%;
    }
}

/*Jumbotron Returnal Section */
.bg-returnal{
    background-image: url(../img/jumbo-bg.png);
}

.returnal{
    padding-top: 200px;
}

/* PS5 section */
.single-ps5-element img{
    border-radius: 10px;
    padding: 3px;
}

.single-ps5-element img:hover {
    box-shadow: 0 0 3px 1px rgba(0, 140, 186);
}

.ps5 .slogan{
    color: #0f7bd1;
    text-transform: uppercase;
}

.ps5 .textarea{
    padding-top: 100px;
}

/* Console Section */
.console-bottom-element{
   opacity: 0.7;
}

.console-bottom-element:hover{
    opacity: 100;
    border-bottom: 2px solid #0f7bd1;
}

.console-bottom-element p{
    display: none;
}

@media (min-width: 768px) { 
    .console-bottom-element p{
        display: block;
    }

    .console-bottom-element img{
        width: 50%;
        margin: auto;
    }
}

/*Jumbotron Takes-two section */
.bg-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* New games Section */
.new-games{
    padding-top: 10px;
    color: white;
    background-color: #1f1f1f;
}

.new-games-elements{
    font-size: 14px;
}

.single-new-game img{
    border-radius: 20px;
}

/* PS4 Section */
.elements{
    padding: 40px 0;
}

.single-ps4-elements p{
    font-size: 22px;
}

/* Banner*/
.banner{
    padding: 0;
}

.banner-textarea img{
    width: 55%;
}

.banner-textarea{
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (min-width: 768px) { 
    .banner-textarea{
        padding: 0;
    }
}

/* Banner PS-Plus section */
.banner.ps-plus{
    background-color: #bebcbb;
}

.ms_btn_plus{
    color: #2f65e6;
    background-color: #d9dadc;
}

/* Banner PS-Plus section */
.banner.ps-now{
    background-color: #161c3b;
    color: white;
}

.ms_btn_now{
    color: #161c3b;
    background-color: #d9dadc;
}

/* Social Section */
@media (min-width: 768px) { 
    .social .elements{
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 992px) { 
    .social .elements{
        width: 60%;
        
    }
}

 /* FOOTER */
footer{
     background-color: #00439c;
     color: white;
     padding: 60px 0;
}

/* Footer top */
.logo-ps img{
     max-width: 100px;
}

.logo-globe img{
    max-width: 20px;
    margin-right: 8px;
}

.logo-ps,
.logo-globe{
     padding: 20px 0;
}

.footer-links{
     margin: 20px 0;
}

.footer-links li{
    margin-bottom: 10px;
}

/* Footer bottom */
.footer-bottom{
    padding-top: 20px;
}

.sie-logo img{
    max-width: 130px;
}

.sie-logo{
    padding: 5px 0;
}

.footer-bottom a{
    color:inherit;
}

@media (min-width: 992px) { 
    .footer-bottom{
        width: 50%; 
    }
}

 

