/* COMMON */
body{
    font-family: Arial, sans-serif;
}

/* list */
ul{
    list-style-type: none;
}

/* images */
img{
    width: 100%;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;

    /* test */
    background-color: blanchedalmond;
}

header ul{
    margin: 0;
    padding: 0;
}

/* Header top */
.header-top{
    background-color: black;
}

.sony-logo{
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.sony-logo img{
    width: 100px;
}

/* Nav */
/* Nav logo */
nav {
    padding-top: 15px;
    padding-bottom: 5px;
}
.nav_logo img{
    width: 80px;
}

/* Burger */
.burger{
    font-size: 40px;
    text-align: right;
}

.burger a{
    display: inline-block;
    color: #afafaf;
    border: 1px solid #afafaf;
    padding: 0 25px;
    border-radius: 5px;
}

/* Menu container*/


.menu_right{
    text-align: right;
}